<% content_for :controls do %>
  <div class="dropdown">
    <button class="btn btn-lg btn-success dropdown-toggle"
            data-toggle="dropdown">
      Log in
    </button>

    <div class="dropdown-menu dropdown-menu-right dropdown-form">
      <%= render 'login_form' %>
    </div>
  </div>
<% end %>
