<h1>Flash Cards
  <%= link_to new_flash_card_path,
              class: 'btn btn-lg btn-success pull-right' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Add card
  <% end %>
</h1>

<% if @flash_cards.empty? %>
  <h2>No cards available</h2>
<% end %>

<ul class="list-group">
  <% @flash_cards.each do |card| %>
    <li class="list-group-item">
      <span class="h1"><%= card.question %> -- <%= card.answer %></span>
      <span class="pull-right">
	Next review: <%= card.next_review_date %>
      </span>
    </li>
  <% end %>
</ul>
