<h1>Flash Cards</h1>

<% if @flash_cards.empty? %>
  <h2>No cards available</h2>
<% end %>

<ul class="list-group">
  <% @flash_cards.each do |card| %>
    <li class="list-group-item">
      <span class="h1"><%= card.question %> -- <%= card.answer %></span>
      <span class="pull-right">
	Next review: <%= card.next_review_date %>
      </span>
    </li>
  <% end %>
</ul>
