<div ng-app="flashCards" ng-controller="ManagementController">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="card in cards">
        <td>{{card.question}}</td>
        <td>{{card.answer}}</td>
        <td style="text-align: right">
          <button class="btn btn-danger btn-xs" 
                  ng-click="deleteCard(card)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
