<div ng-app="flashCards" ng-controller="ManagementController">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="card in cards">

        <td>
          <click-to-edit on-submit="saveChanges(card)"
                         field="card.question">
          </click-to-edit>
        </td>

        <td>
          <click-to-edit on-submit="saveChanges(card)"
                         field="card.answer">
          </click-to-edit>
        </td>

        <td style="text-align: right">
          <button class="btn btn-danger btn-xs" 
                  ng-click="deleteCard(card)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
