/*
 *= require_tree .
 *= require_self
 *= require bootstrap-sass-official
 */

div.dropdown-form {
    min-width:      230px;
    padding-left:   15px;
    padding-right:  15px;
    padding-top:    10px;
    padding-bottom: 10px;
}

.progress-bar {
    -webkit-transition: none !important;
            transition: none !important;
}

.vertical-center {
    min-height:  80vh;
    display:     flex;
    align-items: center;
}

input[disabled] {
    background: #DDD;
    color:      #929292;
    border:     0;
    padding:    3px;
}

#controls > * {
    display: inline-block;
}
