<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.dropdown').on('shown.bs.dropdown', function() {
        $('#flash-card-question').focus()
      })

      $('.dropdown').on('ajax:success', function() {
        $('#flash-card-question').focus()
      })
    })
  </script>
<% end %>

<% content_for :controls do %>
  <div class="dropdown">
    <button class="btn btn-lg btn-success dropdown-toggle"
            data-toggle="dropdown">
      <span class="glyphicon glyphicon-plus"></span>
      Add card
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-form">
      <%= render 'new_flash_card_form' %>
    </div>
  </div>

  <%= link_to 'Manage cards', manage_flash_cards_path,
              class: 'btn btn-lg btn-primary' %>

  <%= link_to 'Sign out', destroy_user_session_path, method: :delete,
              class: 'btn btn-lg btn-danger' %>
<% end %>

<%= render template: 'layouts/application' %>
